@media screen and (max-width: 425px) {
    .r-footer {
        gap: 20px;
        padding-top: 20px;
    }

    .l-footer {
        gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    header>div {
        padding: unset;
    }

    .categoryItems>h1 {
        font-size: 14px; 
    }

    .r-footer: {
        gap: unset;
    } 
    .arrow-title {
        padding: unset;
    }
}

@media screen and (max-width: 1000px) {
    #vegetables {
        display: none;
    }
}

@media screen and (max-width: 1310px) {
    #basket {
        display: none;
    }

    .section4>div {
        flex-wrap: wrap;
    }

    .innerFlex{
        gap: 20px;
    }

    .innerFlex>h1 {
        font-size: 20px;
    }

    .innerFlex>input {
        width: -webkit-fill-available;
        height: 80px;
    }

    .sub {
        font-size: 14px;
    }

    .signupBtn {
        width: 75px;
        height: 35px;
    }

    .insideBtn {
        font-size: 12px;
        top: 5px;
        left: 17px;
    }

    .details>h1 {
        font-size: 20px;
    }

    .currPrice {
        font-size: 20px;
    }
    
}
